@using CTS_Models
@model CTS_Models.VehiTransfer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Изменить данные</h2>

@using (Html.BeginForm("Add", "VehiScales", new { htmlAttributes = new { @class = "form-horizontal" } }))
{
    <legend>Данные партии</legend>
    @Html.HiddenFor(m => Model.ID)
    <div class="form-group">
        @Html.LabelFor(m => Model.FromDest, "Место отправления", new { @class = "control-label col-lg-2" })
        <div class="col-lg-10">
            @Html.DropDownListFor(m => Model.FromDestID, ViewBag.FromDestinations as SelectList, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => Model.FromDestID)
        </div>
    </div>
            <div class="form-group">
                @Html.LabelFor(m => Model.ToDest, "Пункт назначения", new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.EditorFor(m => Model.ToDest, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => Model.ToDest)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => Model.LotName, "Номер авто", new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.EditorFor(m => Model.LotName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => Model.LotName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => Model.Brutto, "Вес нетто", new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.EditorFor(m => Model.Brutto, new { htmlAttributes = new { @class = "form-control"} })
                    @Html.ValidationMessageFor(m => Model.Brutto)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => Model.Tare, "Тара, т", new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.EditorFor(m => Model.Tare, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => Model.Tare)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => Model.Comment, "Комментарий", new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.EditorFor(m => Model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => Model.Comment)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => Model.Item, "Груз", new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(m => Model.ItemID, ViewBag.Items as SelectList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => Model.ItemID)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => Model.TransferTimeStamp, "Дата отгрузки", new { @class = "control-label col-lg-2" })
                <div class="col-lg-10 input-group date" id="datetimepicker">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    @Html.TextBoxFor(m => Model.TransferTimeStamp, "{0:yyyy/MM/dd HH:mm}", new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(m => Model.TransferTimeStamp)
                </div>
            </div>
            <input type="submit" value="Сохранить" class="btn btn-default" />
}
